<div class="container p-4">

    {{#if pacientes.length}}
    <h2 class="text-center mb-3">Pacientes</h2>
    <!-- Tabla de médicos -->
    <div class="table-responsive">
        <table class="table table-hover shadow-sm">
            <thead class="table-light">
                <tr>
                    <th>Nombre</th>
                    <th>Prestadora de servicio</th>
                    <th>Email</th>
                    <th>Celular</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {{#each pacientes}}
                <tr>
                    <td>{{nombre}}</td>
                    <td>{{prestadora_servicios}}</td>
                    <td>{{email}}</td>
                    <td>{{numero_celular}}</td>
                    <td>
                        <a href="#" class="btn btn-secondary btn-sm mb-1">Historial médico</a>
                        <a href="#" class="btn btn-danger btn-sm">Gestionar citas médicas</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    {{else}}
    <div class="col-md-6 mx-auto">
        <div class="card card-body text-center">
            <p>No hay pacientes en la base de datos.</p>
        </div>
    </div>
    {{/if}}
</div>